* {
  box-sizing: border-box;
}

.field {
  width: 100%;
  height: 50px;
  border-radius: 4px;
  position: relative;
  background-color: rgba(110, 199, 176, 0.8);
  transition: 0.3s background-color ease-in-out, 0.3s box-shadow ease-in-out;
  margin-bottom: 5px;
}

.field:hover {
  background-color: rgb(110, 199, 176);
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
}

.field.active {
  background-color: #ffffff;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.2);
}

.field.active input {
  padding: 24px 16px 8px 16px;
}

.field.active input + label {
  top: 4px;
  opacity: 1;
  color: #319fa5;
}

.field.locked {
  pointer-events: none;
}

.field input {
  width: 100%;
  height: 56px;
  position: relative;
  padding: 0px 16px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  background-color: transparent;
  color: #282828;
  outline: none;
  box-shadow: 0px 4px 20px 0px transparent;
  transition: 0.3s background-color ease-in-out, 0.3s box-shadow ease-in-out,
    0.1s padding ease-in-out;
  -webkit-appearance: none;
}

.field input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.8);
}
.field input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.8);
}
.field input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.8);
}
.field input:-moz-placeholder {
  color: rgba(255, 255, 255, 0.8);
}

.field input + label {
  position: absolute;
  top: 24px;
  left: 16px;
  font-family: "Gotham SSm A", "Gotham SSm B", sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 24px;
  color: #ffffff;
  opacity: 0;
  pointer-events: none;
  transition: 0.1s all ease-in-out;
}

.field input + label.error {
  color: #ec392f;
}

.search-input-container {
  display: flex;
  align-items: center;
  width: 100%;
  // border: 1px solid black;
  border-radius: 5px;
  height: calc(60% - 2px);
  border: 1px solid #c0c1c4;
  // padding: 10px;

  .search-input {
    flex: 1;
    outline: unset !important;
    border: unset !important;
    font-size: 16px;
  }
  .search-icon {
    margin-left: 10px;
    display: flex;
    align-items: center;
    color: #99a3c4;
    cursor: pointer;
  }
}
.select-container {
  border-radius: 5px;
  border: 1px solid black;
  padding: 8px 10px;
  width: 100%;
  select {
    border: unset;
  }
}
