.common-link {
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  margin: 10px 0px;
}
.muted-link-styles {
  color: rgba(158, 158, 158, 0.8);
}
.bold-link-styles {
  color: "rgb(110, 199, 176)";
  cursor: pointer;
}
