// font-family
body {
  font-family: "Poppins", sans-serif !important;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
}
// definition new style

.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.items-center {
  align-items: center;
}
.justify-center {
  justify-content: center !important;
}
.j-space-between {
  justify-content: space-between;
}
.pointer {
  cursor: pointer;
}
body {
  margin: 0px;
  #root {
    height: 100%;
  }
}

// .app {
//   display: flex;
//   min-height: 100vh;
//   flex-direction: column;
//   justify-content: space-between;
//   &__body {
//     margin: 0px 10%;
//   }
// }
.app-admin {
  width: 100%;
  display: flex;
  &__body {
    padding-top: 80px !important;
    background-color: rgba(45, 170, 184, 0.2);
    // height: calc(100% - 86px);
    &__inner {
      padding: 15px;
    }
  }
}
.MuiMenuItem-root,
.MuiMenuItem-gutters,
.MuiButtonBase-root {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif !important;
  font-weight: 100 !important;
}
.custom-table-row:hover {
  background-color: rgba(59, 196, 126, 0.2) !important;
  cursor: pointer;
}

.employeeType {
  padding: 5px;
  border-radius: 10px;
  width: fit-content;
  font-weight: 600;
}
.employeeType.true {
  background-color: rgba(59, 196, 126, 0.3);
  color: rgb(59, 196, 126);
  border: 2px solid rgb(59, 196, 126);
}
.employeeType.false {
  border: 2px solid red;
  background-color: rgba($color: #ff0000, $alpha: 0.3);
  color: #ff0000;
}

.center-text {
  text-align: center;
}
.mt-10 {
  margin-top: 10px;
}
.text-highligth {
  color: rgb(59, 196, 126);
  font-weight: 600;
}
.MuiDialogContentText-root {
  margin-bottom: unset !important;
}
// sidebar
.list--icon {
  padding-left: 14.5px !important;
}
// page title
.page-title {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  .page-title-content {
    .page-title-content-header {
      font-weight: 700;
      font-size: 24px;
    }
    .page-title-content-footer {
      font-weight: 500;
      color: #a5adc6;
      font-size: 16px;
      margin-top: 5px;
    }
    margin-left: 10px;
  }
  .page-icon {
    width: 50px;
    height: 50px;
    padding: 5px;
    box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%),
      0px 4px 3px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%) !important;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;

    .MuiSvgIcon-root {
      color: rgb(28, 43, 61) !important;
      font-size: 32px;
    }
  }
}
//dropdown
.dropdown-common {
  outline: unset;
  background: rgb(245, 243, 235) !important;
  box-shadow: unset !important;
  border-radius: 20px !important;
  display: flex;
  align-items: center;
  font-size: 16px;
  &:hover,
  &:focus {
    color: #292929 !important;
  }
}
.menu-dropdown-common {
  color: #292929;
}
//Modal
.modal-container-profile-admin {
  min-width: 60% !important;
}
.modal-container {
  min-width: 650px;
  .ant-modal-header {
    padding: 16px 20px;
    font-size: 18px;
    .ant-modal-title {
      color: rgb(15, 11, 31) !important;
      font-weight: bold;
      font-size: 20px;
    }
  }
  .ant-modal-body {
    padding: 12px 20px;
    .body-content-form {
      &:not(:first-child, :last-child) {
        margin: 12px 0 !important;
      }
      .block-label-input-modal {
        width: 100%;
        label {
          color: rgb(88, 53, 18);
          padding-bottom: 4px;
        }
        .value-content {
          margin-left: 8px;
          color: orangered;
        }
      }
    }
  }
  .ant-modal-footer {
    .ant-btn {
      border-color: rgb(151, 101, 7) !important;
      &:hover {
        color: rgb(153, 101, 5);
      }
    }
    .ant-btn-primary {
      background-image: linear-gradient(-90deg, #f5c04f 0%, orange 100%);
    }
  }
}
//Profile
.my-profile-container {
  &__inner {
    margin-top: 24px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    &-left {
      box-shadow: 2px 2px 10px rgba(87, 87, 87, 0.6) !important;

      position: relative;
      width: 25%;
      margin-right: 18px;

      display: flex;
      align-items: center;
      justify-content: center;
      background: rgb(252, 253, 242) !important;
      height: 280px;
      &:hover {
        .fade-choice-avt {
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 20px;
          color: rgb(180, 112, 3);
        }
      }
      img {
        max-width: 100%;
        max-height: 100%;
        width: 280px;
        padding: 15px;
        border-radius: 25px;
      }
    }
    &-right {
      width: 70%;
      &--tabs {
        box-shadow: 2px 2px 10px rgba(87, 87, 87, 0.6) !important;

        padding: 0 25px;
        background: rgb(13, 14, 34) !important;
        border-bottom: 1px solid rgb(226, 220, 218);
        .MuiTab-wrapper {
          font-weight: bold !important;
        }
        .MuiTab-root {
          color: white;
        }
        .MuiTabs-indicator {
          background-color: #20ffc7;
          height: 3px;
          border-radius: 4px;
        }
      }
      &--content {
        box-shadow: 2px 2px 10px rgba(87, 87, 87, 0.6) !important;

        padding: 0 25px;
        background: rgb(252, 253, 242) !important;
        min-height: 450px;
        &__inner {
          padding-top: 36px;
          padding-left: 20px;
          label {
            width: 120px;
            color: rgb(143, 32, 91);
            font-size: 17px;
          }
          .form-group {
            width: 350px !important;
          }
          .btn--save {
            margin-top: 60px;
            height: 50px;
            margin-bottom: 24px;
          }
        }
        border-top-left-radius: unset !important;
        border-top-right-radius: unset !important ;
      }
    }
  }
}
.full-width {
  width: 100%;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn {
  border: 0;
  outline: none;
  cursor: pointer;
}
.btn-admin,
.btn-client {
  border: 0;
  border-radius: 20px;
  cursor: pointer;
  padding: 8px 10px;
  outline: none;
  background-image: linear-gradient(
    -90deg,
    rgb(21, 35, 53) 0%,
    rgb(40, 58, 82) 100%
  );
  color: rgb(255, 255, 255);
  font-size: 16px;
  &:hover {
    color: #ffffff;
    background-image: linear-gradient(
      -90deg,
      rgb(28, 43, 61) 0%,
      rgb(46, 61, 80) 100%
    );
  }
  svg {
    margin-right: 8px;
  }
}

//upload image
.fade-choice-avt {
  cursor: pointer;
  display: none;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 248, 248);
  border: 1px dashed gray;
  left: 0;
  position: absolute;
}
